button4{
	position: absolute;
	top: 5%;
	left: 54%;
    font-family: Avenir Light;
    font-size: 1.5vw;
   	cursor: pointer;
}
button2{
	position: absolute;
	top: 5%;
	left: 20%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

button3{
	position: absolute;
	top: 5%;
	left: 37%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

button1{
	position: absolute;
	top: 5%;
	left: 3%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

p1{
	position: absolute;
	top: 45%;
	left: 38%;
    font-family: Avenir Light;
    font-size: 1.5vw;
}

p2{
	position: absolute;
	top: 20%;
	left: 35%;
    font-family: Avenir;
    font-size: 6vw;
}