button1{
	position: absolute;
	top: 5%;
	left: 3%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

p2{
	position: absolute;
	top: 26%;
	left: 40%;
    font-family: Avenir;
    font-size: 6vw;
}

img {
	position: absolute;
	top: -7%;
	left: 38%;
	max-width:120%;
	height: 75%;
	width: auto\9;
	transform: scale(0.2, 0.2);
}


p3{
	position: absolute;
	top: 45%;
	left: 10%;
    font-family: Avenir Light;
    font-size: 1.5vw;
}

button2{
	position: absolute;
	top: 5%;
	left: 20%;
    font-family: Avenir Light;
    font-size: 1.5vw;
   	cursor: pointer;
}

button3{
	position: absolute;
	top: 5%;
	left: 37%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

button4{
	position: absolute;
	top: 5%;
	left: 54%;
    font-family: Avenir Light;
    font-size: 1.5vw;
   	cursor: pointer;
}