body {
    background-color: white;
}

button1{
	position: absolute;
	top: 5%;
	left: 3%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

p2{
	position: absolute;
	top: 17%;
	left: 10%;
    font-family: Avenir;
    font-size: 6vw;
}

img {
	position: absolute;
	top: 5%;
	left: 55%;
	max-width:120%;
	height: 75%;
	width: auto\9;
	transform: scale(0.8, 0.8);
}

p3{
	position: absolute;
	top: 53%;
	left: 10%;
    font-family: Avenir Light;
    font-size: 2vw;
}

form{
	position: absolute;
	top: 63%;
	left: 10%;
    font-family: Avenir Light;
    font-size: 1.5vw;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    font-size:15px;
}

button{
	position: absolute;
	top: 35%;
	left: 110%;
    font-family: Avenir Light;
    font-size: 1.5vw;

    border: 1.8px grey;
    width: 60%;
    padding: 12px 18px;
}

button2{
	position: absolute;
	top: 5%;
	left: 20%;
    font-family: Avenir Light;
    font-size: 1.5vw;
    cursor: pointer;
}

button3{
	position: absolute;
	top: 5%;
	left: 37%;
    font-family: Avenir Light;
    font-size: 1.5vw;
   	cursor: pointer;
}

button4{
	position: absolute;
	top: 5%;
	left: 54%;
    font-family: Avenir Light;
    font-size: 1.5vw;
   	cursor: pointer;
}